.calculator{
    width: 300px;
    border: 1px solid rgb(153, 158, 155);
    margin:10% auto;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.display{
    height: 60px;
    text-align: right;
    line-height: 60px;
    background-color: rgb(49, 47, 47);
    color: white;
    font-size: 30px;
}
.equal-sign{
    grid-column: 4 / 4;
    grid-row: 2 / 6;
    background-color: rgb(252, 107, 71);
}

button{
    padding: 15px;
    border: 1px solid rgb(153, 158, 155);
    font-size: large;
}

span{
    margin-right: 15px;
}
